.btn-custom {
    width: 180px;
    height: 50px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(107, 177, 177);
}
.btn-custom:hover {
    background-color: rgb(83, 125, 169);
}
.spacing {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

