.Head_of_def {
    display: flex;
}

.what_is_diabetes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.what_is_diabetes > h1 {
    font-family: serif;
    font-size: 2.5rem;
    font-weight: 100;
}
.start_type1{
    font-family: serif;
    display: flex;
    flex-direction: row;
}
.title_type1{
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}
.title_type1>h1{
    font-family: serif;
    font-size: 3rem;
    font-weight: 400;
}

 .title_type1 #subTitle {
    font-family: serif;
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
} 
/* @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .textStyle {
      margin: 10px 0;
    }
  
    img {
      margin: 10px 0;
    }
  } */

  @media (max-width: 768px) {
    .Head_of_def, .start_type1 ,.start_type2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    img {
      margin-bottom: 20px;
      width: 100%;
    }
  
    .what_is_diabetes, .title_type1 ,.start_type2 {
      margin: 0;
    }
  }
