.def_of_diabetes{
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    font-weight: 100;
}
.Font_Of_paragraph{
    display: flex;
    flex-direction: column;

    text-align:left;
    font-family: serif;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 70%;

}
.Head_of_def{
    display: flex;

}
.what_is_diabetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.what_is_diabetes > h1 {
    font-family: serif;
    font-size: 2.5rem;
    font-weight:100;
}
.BackGround_diabetes{
    /* background-color:#c6e7ff; */
    display: flex;
    flex-direction: row;
}
.diabetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.insulin{
    padding-left: 18%;
    padding-right: 5%;
    /* background-color: lightskyblue; */
}
.insulin>h1{
    text-align:left;
    font-family: serif;
    font-size: 3rem;
    font-weight: 100;
}
.insulin>p{
    text-align:left;
    font-family: serif;
    font-size: 1.5rem;
    align-items:center;
     /* width: 60%; */
}
/* @media (max-width: 768px) {
    .BackGround_diabetes {
      padding: 10px;
    }
  
    .def_of_diabetes,
    .insulin h1 {
      font-size: 1.5rem;
    }
  
    .Font_Of_paragraph,
    .insulin p {
      font-size: 1rem;
    }
  
    img {
      margin: 10px 0;
      max-width: 100%;
    }
  } */
  @media (max-width: 768px) {
    .BackGround_diabetes {
      flex-direction: column;

    }
  
    .diabetes {
      order: 1; /* Diabetes section stays at the top */
    }
  
    img {
      order: 2; /* Image moves to the middle */
      margin: 20px 0;
    }
  
    .insulin {
      order: 3; /* Insulin section moves to the bottom */
    }
  
    .def_of_diabetes,
    .insulin h1 {
      font-size: 1.5rem;
    }
  
    .Font_Of_paragraph,
    .insulin p {
      font-size: 1rem;
    }
  } 