.def_of_diabetes{
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    font-weight: 100;
}
.Font_Of_paragraph{
    display: flex;
    flex-direction: column;

    text-align:left;
    font-family: serif;
    font-size: 1.30rem;
     justify-content: center;
    align-items: center;
    width: 70%;

}
.Head_of_def{
    display: flex;

}
.what_is_diabetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.what_is_diabetes > h1 {
    font-family: serif;
    font-size: 2.5rem;
    font-weight:100;
}
.BackGround_diabetes{
    /* background-color:#c6e7ff; */
    display: flex;
    flex-direction: row;
}
.diabetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.insulin{
    padding-left: 18%;
    padding-right: 5%;
    /* background-color: lightskyblue; */
}
.insulin>h1{
    text-align:left;
    font-family: serif;
    font-size: 3rem;
    font-weight: 100;
}
.insulin>p{
    text-align:left;
    font-family: serif;
    font-size: 1.30rem;
    align-items:center;
     /* width: 60%; */
}