.emaillabel , .passwordlabel {
    display: flex;
    margin-top: 20px;
    padding-left: 75px;
    font-size: 15px;
}

.emailinput ,.passwordinput {
    width: 70%;
    background-color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    margin-left: 3%;
}