.title{
    top: 0;
    background-color: rgb(254, 250, 250);
   padding: 10px;
    text-align: center;
    color: #6fbde4;
  
    width: 840px;
    margin: auto;
 font-family: serif;
}
@media (min-width:0)and (max-width:1400px){

    .title{
        width: 90% ;
      }
    

}